label {
    width: 100px;
    float: left;
    display: block;
    margin-right: 5px;
}

.inputNumber{
    width: 30px;
    margin-left: 20px;
}

.container{
    width: 35vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.canvas {
    background-color: black;
    border: black solid 1px;
    width: 100px;
    height: 100px;
}
